<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card w-100 mb-4 border-0">
        <div class="card-body">
          <h1>Whats happening?</h1>
          <form [formGroup]="postKwetterForm" (ngSubmit)="postKwetter(postKwetterForm.value)">
            <div class="form-group">
              <textarea class="form-control mb-2" rows="5" name="kweet" id="kweet" formControlName="kweet"
                required></textarea>
              <button class="btn btn-primary btn-lg w-100" type="Submit Form">Kweet!</button>
            </div>
          </form>
        </div>
      </div>

      <div class="card w-100 mb-4">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">@Mentions</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div *ngIf="timeline" class="list-group bordered">
            <a *ngFor="let kwetter of timeline" routerLink="/profile/{{kwetter.author.userId}}"
              class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">{{kwetter.author.userName}}</h6>
                <small>{{kwetter.postedOn}}</small>
              </div>
              <p class="mb-1">{{kwetter.message}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card w-100 mb-4">
        <div class="card-body">
          <h1><small>Your latest tweet</small></h1>
          <div class="list-group" *ngIf="loggedInUser && loggedInUser.kwetters && loggedInUser.kwetters.length > 0">
            <a class="list-group-item list-group-item-action flex-column align-items-start border-0">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">{{loggedInUser.userName}}</h6>
                <small>{{loggedInUser.kwetters[0].postedOn}}</small>
              </div>
              <p class="mb-1">{{loggedInUser.kwetters[0].message}}</p>
            </a>
          </div>
          <div class="row mt-3" *ngIf="loggedInUser">
            <div class="col-md-6">
              <h2><small>Following ({{loggedInUser.following.length}})</small></h2>
              <ul class="list-unstyled">
                <li class="mt-3 hover" *ngFor="let user of loggedInUser.following" routerLink="/profile/{{user.userId}}">(picture) {{user.userName}}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h2><small>Followers ({{loggedInUser.followers.length}})</small></h2>
              <ul class="list-unstyled">
                <li class="mt-3 hover" *ngFor="let user of loggedInUser.followers" routerLink="/profile/{{user.userId}}">(picture) {{user.userName}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>